.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
.idea/
.idea/workspace.xml
.idea/dublin.iml
.jhw-cache/
.sass-cache/
.rspec-tm
config/database.yml
coverage/
log/*.log
public/assets/
spec/javascripts/generated/

