$white: #fff;
$almost_white: #f4f4f4;
$lighter_grey: #e8e8e8;
$light_grey: #d9d9d9;
$medium_light_grey: #8c8c8c;
$medium_grey: #807e7e;
$dark_grey: #595959;
$dark_red: #630709;
$error_red: #bf4943;
$blue: #266280;
$lighter_blue: #3A85A9;
$green: #5f8c31;